In [11]:
valor1 = input('Digite um número inteiro:')
valor2 = input('Digite outro número inteiro:')

In [16]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
False
True
False
True

In [17]:
L = []
L = list()

In [13]:
dias = [3,1,10]

In [14]:
dias[0]

3

In [18]:
dias[1]

1

In [19]:
dias[2]

10

In [20]:
Z = [3,8,9]

In [21]:
Z[0] = 7

In [24]:
Z

[7, 8, 9]

In [26]:
a = [81,82,83]

In [27]:
b = a[:] #cria um clone com fatia

In [28]:
print(a == b)

True

In [29]:
print(a is b)

False

In [30]:
b[0] = 5

In [31]:
print(a)

[81, 82, 83]

In [32]:
print(b)

[5, 82, 83]

In [33]:
uma_lista = ['a', 'b','c', 'd', 'e', 'f']

In [34]:
print(uma_lista[1:3])

['b', 'c']

In [35]:
print(uma_lista[:4])

['a', 'b', 'c', 'd']

In [36]:
print(uma_lista[3:])

['d', 'e', 'f']

In [37]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [100]:
minhaLista = [76,92.3,"oi",True,4,76]

In [101]:
#inserir "pitomba" e 76 no final da lista
minhaLista = minhaLista + ["pitomba", 76]

In [105]:
print(minhaLista)

[76, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [104]:
#inserir o valor "Cibele" na posição índice 3
minhaLista[3] = "Cibele"

In [106]:
minhaLista[0] = 99
print(minhaLista)

[99, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [109]:
minhaLista[2]

'oi'

In [110]:
print(minhaLista[:3] + minhaLista[4:])
print(minhaLista)

[99, 92.3, 'oi', 4, 76, 'pitomba', 76]
[99, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [66]:
uma_lista = [4,2,8,6,5]

In [67]:
uma_lista = uma_lista + ["Cibele"]

In [68]:
print(uma_lista)

[4, 2, 8, 6, 5, 'Cibele']

In [77]:
tupla_numeros = (10,20,30)

In [78]:
tupla_numeros

(10, 20, 30)

In [79]:
tupla_nova = 10,20,30

In [80]:
tupla_nova

(10, 20, 30)

In [81]:
tupla_elemento =10,

In [82]:
tupla_elemento

(10,)

In [83]:
dicio = {'chave':'valor'}

In [84]:
print(type(dicio))

<class 'dict'>

In [85]:
d = {'laranjas': 15, 'bananas':35,"seringuelas":12}

In [86]:
d['bananas']

35

In [87]:
d['pitomba'] = 20

In [88]:
len(d)

4

In [89]:
'pitomba' in d

True

In [90]:
'pears' in d

False

In [91]:
del d['laranjas'] #Deletar

In [92]:
'laranjas' in d

False

In [93]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [94]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [95]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [96]:
print([0] * 4)

[0, 0, 0, 0]

In [98]:
print([1,2, ["oi", "tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]